use master
go 

--drop database QLBanVeMayBay
--go

create database QLBanVeMayBay
go

use QLBanVeMayBay
go

-- Những table là 1: SANBAY, TUYENBAY, LOAIMAYBAY, HANGMAYBAY, HANHKHACH, NHANVIEN, DONGIA, HANGVE
-- Những table la nhiều: MAYBAY, CHUYENBAY, CHITIETCHUYENBAY, VECHUYENBAY, PHIEUDATCHO, PHIEUDAT_HANGVE 
-- HOADON, HOADONCHITIET
create table SANBAY
(
	MaSanBay varchar(10) primary key,
	TenSanBay nvarchar(50),
	QuocGia nvarchar(50),
	DiaDiem nvarchar(50)
)
go

create table TUYENBAY
(
	MaTuyenBay varchar(10) primary key,
	MaSanBayDi varchar(10),
	MaSanBayDen varchar(10),
	FOREIGN KEY (MaSanBayDi) REFERENCES SANBAY(MaSanBay),
	FOREIGN KEY (MaSanBayDen) REFERENCES SANBAY(MaSanBay)
)
go

create table HANGMAYBAY
(
	MaHang varchar(10) primary key,
	TenHang nvarchar(50),
	QuocGia nvarchar(50)
)
go


create table HANHKHACH
(
	CMND varchar(10) primary key,
	HoTen nvarchar(50),
	GioiTinh bit default 1,
	DienThoai varchar(10),
	Email varchar(50),
	DiaChi nvarchar(50)
)
go

create table NHANVIEN
(
	MaNhanVien varchar(10) primary key,
	MatKhau varchar(30),
	VaiTro Nvarchar(30),
	HoTen nvarchar(50),
	GioiTinh bit,
	DienThoai varchar(10),
	Email varchar(50),
	DiaChi nvarchar(50),
	Hinh varchar(100)
)
go

create table HANGVE
(
	MaHangVe varchar(10) primary key,
	TenHangVe nvarchar(50)
)
go

create table MAYBAY 
(
	MaMayBay varchar(10) primary key,
	MaHang varchar(10),
	FOREIGN KEY (MaHang) REFERENCES HANGMAYBAY(MaHang)
)
go

create table CHUYENBAY
(
	MaChuyenBay varchar(10) primary key,
	NgayDi date,
	NgayDen date,
	GioKhoiHanh time,
	SoGheThuongGia int,
	SoGhePhoThong int,
	MaTuyenBay varchar(10),
	MaMayBay varchar(10),
	FOREIGN KEY (MaTuyenBay) REFERENCES TUYENBAY(MaTuyenBay),
	FOREIGN KEY (MaMayBay) REFERENCES MAYBAY(MaMayBay)
)
go

create table LOAIVE
(
	MaLoaiVe varchar(10) primary key,
	TenLoaiVe nvarchar(50)
)
go

create table VEMAYBAY
(
	MaVe varchar(10) primary key,
	MaHangVe varchar(10),
	MaLoaiVe varchar(10),
	MaChuyenBay varchar(10),
	GiaBan float,
	FOREIGN KEY (MaLoaiVe) REFERENCES LOAIVE(MaLoaiVe),
	FOREIGN KEY (MaHangVe) REFERENCES HANGVE(MaHangVe),
	FOREIGN KEY (MaChuyenBay) REFERENCES CHUYENBAY(MaChuyenBay),
)
go

create table DICHVU
(
	MaDichVu varchar(10),
	Mave varchar(10),
	TenDichVu Nvarchar(50),
	GiaDichVu float,
	primary key (MaDichVu, Mave),
	FOREIGN KEY (MaVe) REFERENCES VEMAYBAY(MaVe)
)
go

create table HOADON
(
	MaHoaDon varchar(10) primary key,
	NgayLap varchar(20),
	CMND varchar(10),
	MaNhanVien varchar(10),
	FOREIGN KEY (CMND) REFERENCES HANHKHACH(CMND),
	FOREIGN KEY (MaNhanVien) REFERENCES NHANVIEN(MaNhanVien)
)
go

create table HOADONCHITIET
(
	MaHoaDon varchar(10),
	MaVe varchar(10),
	SoGheDat int,
	primary key (MaHoaDon, MaVe),
	FOREIGN KEY (MaHoaDon) REFERENCES HOADON(MaHoaDon),
	FOREIGN KEY (MaVe) REFERENCES VEMAYBAY(MaVe)
)
go

--Phần nhập dữ liệu
--Table hãng máy bay
insert into HANGMAYBAY values('HMB01', N'JetStar Pacific Airlines', N'Việt Nam')
insert into HANGMAYBAY values('HMB02', N'Aegean Airlines', N'Hy Lạp')
insert into HANGMAYBAY values('HMB03', N'Wamos Air', N'Tây Ban Nha')

--Table máy bay
insert into MAYBAY values('MB01', 'HMB01')
insert into MAYBAY values('MB02', 'HMB02')
insert into MAYBAY values('MB03', 'HMB03')

-- Table sân bay 
insert into SANBAY values('SB01', N'Tân Sơn Nhất', N'Việt Nam', N'Hồ Chí Minh')
insert into SANBAY values('SB02', N'Eleftherios Venizelos', N'Hy Lạp', N'Athens')
insert into SANBAY values('SB03', N'Madrid Barajas', N'Tây Ban Nha', N'Madrid')

-- Table tuyến bay
insert into TUYENBAY values('TB01', 'SB01', 'SB02')
insert into TUYENBAY values('TB02', 'SB02', 'SB03')
insert into TUYENBAY values('TB03', 'SB03', 'SB04')

--Table hành khách 
insert into HANHKHACH values('221462830', N'Hồ Hoàng Tông', 0, '0856985586', 'tonghh@gmail.com', N'Phú Yên')
insert into HANHKHACH values('123456789', N'Ngô Tuấn Đức', 1, '0123456789', 'ducnt@gmail.com', N'TP Hồ Chí Minh')
insert into HANHKHACH values('123456788', N'Nguyễn Minh Ý', 1, '0123456788', 'minhy@gmail.com', N'Phú Yên')

--Table nhân viên 
insert into NHANVIEN values('NV01', '123', N'Nhân viên', N'Huỳnh Minh Anh', 0, '0123456789', 'anhm@gmail.com', N'Phú Yên', 'croatia.jpg')
insert into NHANVIEN values('NV02', '123', N'Trưởng phòng', N'Ngô Đức Tuấn', 1, '0123456788', 'tuandn@gmail.com', N'TP Hồ Chí Minh', 'trump.jpg')
insert into NHANVIEN values('NV03', '123', N'Nhân viên', N'Nguyễn Ý', 1, '0123456787', 'nguyeny@gmail.com', N'Phú Yên', 'phap.jpg')

--Table chuyến bay 
set dateformat YMD
insert into CHUYENBAY values('CB01','2019-12-01','2019-12-02','08:20:00','18','151','TB04','MB04')
insert into CHUYENBAY values('CB02','2019-12-01','2019-12-03','22:00:00','24','156','TB01','MB01')
insert into CHUYENBAY values('CB03','2019-12-03','2019-12-05','07:30:00','8','195','TB02','MB02')

-- Table hạng vé 
insert into HANGVE values('HV01', N'Thương gia')
insert into HANGVE values('HV02', N'Phổ thông')

--Table loại vé 
insert into LOAIVE values('LV01', N'Khứ hồi')
insert into LOAIVE values('LV02', N'Một chiều')

--Table vé máy bay
insert into VEMAYBAY values('V01','HV01','LV01','CB01','11')
insert into VEMAYBAY values('V02','HV02','LV02','CB02','7')
insert into VEMAYBAY values('V03','HV02','LV01','CB03','12')




--Table dịch vụ 
insert into DICHVU values('DV01','V01',N'Suất ăn đặc biệt','0.75')
insert into DICHVU values('DV02','V02',N'Wifi','0.2')
insert into DICHVU values('DV03','V03',N'Suất ăn đặc biệt','0.75')







--Table hóa đơn 
set dateformat YMD 
insert into HOADON values('HD01', '2019-11-11', '221462830', 'NV04')
insert into HOADON values('HD02', '2018-10-13', '123456789', 'NV01')
insert into HOADON values('HD03', '2017-09-14', '123456788', 'NV05')























--Table hóa đơn chi tiết
insert into HOADONCHITIET values('HD01', 'V15',3)
insert into HOADONCHITIET values('HD02', 'V14',6)
insert into HOADONCHITIET values('HD03', 'V20',5)




















-----------------------------------------------------



















----------------------------------------------------








--------------------------------------------------








------------------------------------------------


